In [87]:
from pymongo import MongoClient
from bson import ObjectId

In [88]:
# Connect to MongoDB
client = MongoClient("mongodb://root:password@localhost:27017")

In [66]:
# Select the database
db = client['repas']

In [67]:
# List all collections
collection = db.list_collection_names
print(collection)

<bound method Database.list_collection_names of Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'repas')>

In [68]:
# Insert a document
restaurant = {
    # restaurant details
    "_id": ObjectId(),  
    "nom": "Chez Luigi",
    # menu details
    "menu": {
        "_id": ObjectId(), 
        "nom": "Menu 1",
        # plats details
        "plats": [
            {
                "_id": ObjectId(),  
                "nom": "Lasagne",
                "prix": 15, 
                # aliments details
                "aliments": [
                    {"_id": ObjectId(), "nom": "tomate"},
                    {"_id": ObjectId(), "nom": "pates"},
                    {"_id": ObjectId(), "nom": "gruyere"}
                ]
            },
            {
                "_id": ObjectId(), 
                "nom": "Pizza",
                "prix": 10,  
                # alemnts details
                "aliments": [
                    {"_id": ObjectId(), "nom": "tomate"},
                    {"_id": ObjectId(), "nom": "jambon"},
                    {"_id": ObjectId(), "nom": "gruyere"}
                ]
            },
        ]
    }
}

db.repas.insert_one(restaurant)

InsertOneResult(ObjectId('66fbf54109b3d5c7fd4818b3'), acknowledged=True)

In [89]:
# Find a repas with its id
result = db.repas.find_one({"_id": ObjectId('66fbf26309b3d5c7fd481896')})
result

{'_id': ObjectId('66fbf26309b3d5c7fd481896'),
 'nom': 'Chez Luigi',
 'menu': {'_id': ObjectId('66fbf26309b3d5c7fd481897'),
  'nom': 'Menu 1',
  'plats': [{'_id': ObjectId('66fbf26309b3d5c7fd481898'),
    'nom': 'Lasagne',
    'prix': 15,
    'aliments': [{'_id': ObjectId('66fbf26309b3d5c7fd481899'),
      'nom': 'tomate'},
     {'_id': ObjectId('66fbf26309b3d5c7fd48189a'), 'nom': 'pates'},
     {'_id': ObjectId('66fbf26309b3d5c7fd48189b'), 'nom': 'gruyere'}]},
   {'_id': ObjectId('66fbf26309b3d5c7fd48189c'),
    'nom': 'Pizza',
    'prix': 10,
    'aliments': [{'_id': ObjectId('66fbf26309b3d5c7fd48189d'),
      'nom': 'tomate'},
     {'_id': ObjectId('66fbf26309b3d5c7fd48189e'), 'nom': 'jambon'},
     {'_id': ObjectId('66fbf26309b3d5c7fd48189f'), 'nom': 'gruyere'}]}]}}

In [70]:
# add a new collection : livreur
livreur = {
    "_id": ObjectId(),
    "name": "Bob",
    "actif": True,
}

db.livreur.insert_one(livreur)

InsertOneResult(ObjectId('66fbf54109b3d5c7fd4818bd'), acknowledged=True)

In [71]:
# add a new collection : client
client_data = {
    "_id": ObjectId(),
    "name": "Patrick",
}

db.clients.insert_one(client_data)

InsertOneResult(ObjectId('66fbf54109b3d5c7fd4818be'), acknowledged=True)

In [72]:
# add a new collection : commande
commande_data = {
    "_id": ObjectId(),
    "client": ObjectId("66fbf26309b3d5c7fd4818a1"),
    "livreur": ObjectId("66fbf26309b3d5c7fd4818a0"),
    "restaurant": ObjectId("66fbf26309b3d5c7fd481896"),
}

# 
db.commande.insert_one(commande_data)

InsertOneResult(ObjectId('66fbf54109b3d5c7fd4818bf'), acknowledged=True)

In [73]:
filter_criteria = {"menu.plats._id": ObjectId("66fbf26309b3d5c7fd48189e")} 
update_operation = {"$set": {"menu.plats.$.nom": "champignon"}}

db.repas.update_one(filter_criteria, update_operation)

UpdateResult({'n': 0, 'nModified': 0, 'ok': 1.0, 'updatedExisting': False}, acknowledged=True)

In [83]:
filter_client = {"name": "Patrick"}
update_client = {"$set": {"clients.adresse": "1 rue de chez lui 69000"}}

db.clients.update_one(filter_client, update_client)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [84]:
client = db.clients.find_one({"name": "Patrick"})
client

{'_id': ObjectId('66fbf26009b3d5c7fd481894'),
 'name': 'Patrick',
 'clients': {'adresse': '1 rue de chez lui 69000'}}

In [85]:
livreur = {
    "_id": ObjectId(),
    "name": "Carlos",
    "actif": False,
}

db.livreur.insert_one(livreur)

InsertOneResult(ObjectId('66fbf7c409b3d5c7fd4818c0'), acknowledged=True)

In [86]:
delete_livreur = db.livreur.delete_one({'actif':False})
delete_livreur

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)